body {
    margin: 0%;
    font-family: 'Nunito';
}

.main-bar {
    display: grid;
    grid-template-columns: 10% 2fr 10%;
    grid-auto-flow: column;
    overflow: hidden;

    background-color: blue;
    color: white;
}

.bar-elements {
    align-self: center;
    text-align: center;
}

h2 {
    font-size: 3vw;
    margin: 1vh;
}

a:link, a:visited {
    color: white;
    text-decoration: none;
    font-size: 2vw;
    margin: 1vh;
}

.content {
    display: grid;

    margin: 8vw;
    padding: 5vh;
    align-items: center;
    text-align: justify;
}

.question {
    
    border: 0.3vw rgb(80, 80, 80) solid;
    border-radius: 2.5vh;

    padding: 2vh;
    font-size: 3.5vh;
}

.choices-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1vw;

    margin-top: 4.5vw;
    font-size: 3.5vh;
}

.choices {
    cursor: pointer;
    align-items: center;
    text-align: center;

    border: 0.3vh rgb(80, 80, 80) solid;
    border-radius: 2.5vh;
    padding: 1vh;
}

.choices:hover {
    border: none;
    background-color: blue;
    color: white;
    font-weight: bold;

    animation: fade-color 0.4s linear forwards;
}

@keyframes fade-color {
    0% {background-color: white; border: 0.3vh rgb(80, 80, 80) solid;}
    100% {background-color: blue;}
}